.logo{
    height: 70px;
    margin:5px;
    border-radius: 50%;
    
}
body{
    margin: 0;
    padding: 0;
    background-color:#ffffff;
}
.navbar{
    right: 0;
    position: fixed;
    padding: 25px 20px;
}
.nav-item{
  color: black;
  font-size: 20px;
  margin-right: 20PX;
  text-decoration: none;
}
.app-title{
     background: #ffffff;
     border: 2px solid #d9d9d9;
     border-radius: 50px;
     margin: 20px;
     display: flex;
}
.title{
    padding-top: 4px;
}